.card {
    height: 375px;
    width: auto;
}

div.container {
    height: 10em;
    position: relative;
    justify-content: center }
div.container button {
    position: relative;
    justify-content: center
}
