h1 {
    color: white;
}
nav {
    justify-self: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
}

li {
    float: left;
    font-size: 18px;
    color: white;
}

li a {
    padding : 1.5em;
    text-transform: uppercase;
    font-size: .8em;
    color: white;
}
